<%- include('./partials/head'); %>
<%- include('./partials/header'); %>
<div class="container" style="display:flex;flex-direction: column; text-align:center;align-items: center;">
    Congratulation !!<br />
    You are successfully registered.
    Now you can login <a href="/login">here</a>
</div>

<%- include('./partials/footer'); %>